/* css */
html,
body {
    position: relative;
    height: 100%;
    color: #000000;
    font-family: "Noto Sans JP", "Noto Sans", "Arial", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

/*Common Styles*/
img {
    width: 100%;
}
@media screen and(min-width: 768px){
    img {
        width: 100%;
    }
}

body {
    background: #ffffff;
    font-size: 14px;
    margin: 0 0 100px 0;
    padding: 0;
    height: auto;
}
* {
    font-family: "Noto Sans JP", "Noto Sans", "Arial", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}
.sp-item {
    display: block;
}
.pc-item {
    display: none;
}
@media screen and (min-width: 768px){
    .sp-item {
        display: none;
    }
    .pc-item {
        display: block;
    }
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@media screen and (min-width: 768px) {
    .d-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}

/* .hero-carousel
----------------------------------------------------------  */
.hero-carousel {}
.swiper-container {
    width: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-img {
    width: 100%;
    height: auto;
}
.swiper-pagination {
    text-align: end !important;
}
@media only screen and (min-width: 768px) {

}
/*--------------------------------------------------------
/.hero-carousel */

/* .intro
----------------------------------------------------------  */
.intro {
    margin: 68px auto;
    max-width: 375px;
}
.intro__txt {
    color: #D3192E;
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: .1em;
    text-align: center;

}

/*--------------------------------------------------------
/.intro */
